<div class="container mt-4">

  <div class="row g-4" style="justify-content: space-evenly;">

  {% for product in products %}


  <div class="card" style="width: 18rem;">
    <img src="{{ product.main_image }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ product.title }}</h5>
      <p class="card-text">{{ product.description|truncate(53, False) }}</p>
      <p class="card-text">Price: {{ product.price }} grn</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  {% endfor %}

</div>
</div>